{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-es2015-classes",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "Config": "./src/app/config/local.js"
      }
    }]
  ]
}
