{
  "extends": "airbnb",
  "plugins": ["import"],
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "DOMParser": true,
  },
  "env": {
    "jest": true
  }
}
