@import '../../css/scheme';

.header {
  background: $primary;
  border-bottom: 2px solid $secondary;
  padding-top: 0.5em;

  button.title {
    color: $tertiary;
    margin: 0;
    font-size: 1.5em;
  }

  button.title:hover {
    text-decoration: none;
  }
}

