@import './scheme';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

button.clear {
  background-color: inherit;
  border-width: 0;
}
button.clear:hover {
  background-color: inherit;
  outline:0;
}
button.clear:active {
  background-color: inherit;
  outline:0;
}
button.clear:focus {
  background-color: inherit;
  outline:0;
}

.linebreak {
  white-space: pre;
}

.fill-parent {
  width: 100%;
  height: 100%;
}
